.main{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 10px;
}

.red{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
}
.green{
    padding: 10px 40px;
    border-radius: 10px;
    background-color: green;
    color: white;
    border: none;
}